body {
    min-height: 0;
}

.bmd-layout-canvas {
    display: flex;
    flex-direction: column;
    width: 100vw !important;
    height: 100vh !important;
}

.login-wrapper {
    margin: 0 auto;
    /* Firefox */
    margin-top: -moz-calc(100vh - 85vh);
    /* WebKit */
    margin-top: -webkit-calc(100vh - 85vh);
    /* Opera */
    margin-top: -o-calc(100vh - 85vh);
    /* Standard */
    margin-top: calc(100vh - 85vh);
    width: 280px;
}

.login-textfield-Holder {
    color: rgba(0, 0, 0, 0.54);
    font-size: 1rem;
    line-height: 18px;
    overflow: hidden;
    padding: 16px 16px;
    width: 100%;
}

.login-title {
    background-color: #2a813e;
    background-image: url('../images/mfpt.png');
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    height: 150px;
    margin-bottom: 50px;
}

.login-input {
    padding: 7px 4px;
    margin-bottom: 20px;
    width: 100%;
}

.login-btn {
    width: 100%;
    border: 1px solid #2a813e;
    border-radius: 2rem;
    margin-top: 40px;
    color: #2a813e !important;
    font-weight: bold !important;
    font-family: Arial, Helvetica, sans-serif !important;
}

.login-btn:hover {
    border: 1px solid #ffffff;
    border-radius: 2rem;
    margin-top: 40px;
    color: #ffffff !important;
    background-color: #2a813e;
}

.mdl-layout__drawer {
    border: none !important;
}

.mdl-layout__header {
    background-color: #226832;
}

.mdl-layout__drawer.is-visible {
    background-color: #2e8e44 !important;
    color: white;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: #ffffff;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    text-decoration: none;
    background-color: #226832;
}

.mdl-layout__content {
    background-image: url('../images/whiteback.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.questions .page-content {
    /* padding-left: 80px;
    padding-right: 70px; */
}

.loginCover {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1000;
}

.questions-upload-container,
.questions-edit-container {
    margin-top: 20px;
    margin-left: 0px;
    padding-left: 0px;
    padding-bottom: 50px;
}

.questions-upload-container>.col-md-6 {
    margin-left: 0px;
    padding-left: 0px;
}

.questions-upload-container .form-control {
    background-color: white;
    margin-top: 10px !important;
}

.bmd-form-group {
    position: relative;
    padding-top: 1.9rem;
}

[class*=" bmd-label"],
[class^=bmd-label] {
    color: black;
    padding-bottom: 10px !important;
    font-size: 1rem !important;
}

.mdl-progress {
    width: 100vw !important;
}

.btn,
.custom-file-control:before {
    border-radius: 2rem !important;
}

.table .thead-dark th {
    color: #fafafa;
    background-color: #3e9852;
    border-color: #32383e;
}

.edit-modal-header {
    color: white;
    background-color: #3e9852;
}

.table th,
.table td,
.table thead th {
    border: none !important;
}

.toast {
    max-width: 100vw !important;
    width: 100vw;
}

.toast .mdl-snackbar__text {
    /* text-align: center;
    font-weight: bold;
    font-size: 2rem; */
}

.table-holder {
    overflow: scroll;
    height: -moz-calc(100vh - 47vh);
    /* WebKit */
    height: -webkit-calc(100vh - 47vh);
    /* Opera */
    height: -o-calc(100vh - 47vh);
    /* Standard */
    height: calc(100vh - 47vh);
}

.table-col-wid {
    max-width: 200px !important;
    white-space: pre-wrap;
}

.upload-prog {
    top: 10px;
    left: 20px;
}

@media screen and (max-width: 980px) and (min-width: 300px) {
    .questions .page-content {
        /* padding-left: 10px;
        padding-right: 10px; */
    }
    .table-col-wid {
        max-width: 200px !important;
        white-space: pre-wrap;
    }
    .table-holder {
        overflow: scroll;
        height: -moz-calc(100vh - 47vh);
        /* WebKit */
        height: -webkit-calc(100vh - 47vh);
        /* Opera */
        height: -o-calc(100vh - 47vh);
        /* Standard */
        height: calc(100vh - 47vh);
    }
}